@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7.ttf');
}

body {
  margin: 0;
  
}

.container {
  max-width: 555px;
  margin-inline: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  background-color: #1B244A;
  text-align: center;
}

.tablo  {
  min-width: 155px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  line-height: 36px;
  margin-bottom: 23px;
}

span {
  display: block;
  font-size: 90px;
  color: #F94F6D;
  background-color: #000;
  border-radius: 5px;
  padding-inline: 35px;
  margin-bottom: 26px;
}

.container span {
  font-family:'digital-7';
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}



button {
  font-size: 18px;
  line-height: 28px;
  padding-inline: 15px;
  text-align: center;
  color: #9AABD8;
  font-family: 'digital-7';
  cursor: pointer;
  background-color: #1B244A;
  border: 1px solid #9AABD8;
  border-radius: 5px;
  max-width: 45px;
  
}